{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        a.map {
            color: white;
        }

        #containerBox {
            text-align: center;
        }

        #imageBox {
            background: url({{ asset('images/factory.svg') }}) no-repeat;
            vertical-align: middle;
            display: inline-block;
            background-position: center;
        }

        #area2 {
            position: absolute;
            width: 20%;
            height: 25%;
            bottom: 35%;
            right: 15%;
            cursor: pointer;
        }

        #area1 {
            position: absolute;
            width: 15%;
            height: 15%;
            bottom: 35%;
            left: 40%;
            cursor: pointer;
        }
    </style>
    <link href="{{ asset('css/sweetalert.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Planta de produccion</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="white-box m-b-0 bg-danger">
                        <h3 class="text-white box-title">Analysis <span class="pull-right"><i class="fa fa-caret-up"></i> 260</span></h3>
                        <div id="sparkline1dash"></div>
                    </div>
                    <div class="white-box">
                        <div class="row">
                            <div class="pull-left">
                                <div class="text-muted m-t-20">Site Analysis</div>
                                <h2>21000</h2>
                            </div>
                            <div data-label="60%" class="css-bar css-bar-60 css-bar-lg m-b-0 css-bar-danger pull-right"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="white-box m-b-0 bg-info">
                        <h3 class="text-white box-title">Sales <span class="pull-right"><i class="fa fa-caret-down"></i> 160</span></h3>
                        <div id="sparkline2dash" class="text-center"></div>
                    </div>
                    <div class="white-box">
                        <div class="row">
                            <div class="pull-left">
                                <div class="text-muted m-t-20">TOTAL SALES</div>
                                <h2>21000</h2>
                            </div>
                            <div data-label="60%" class="css-bar css-bar-60 css-bar-lg m-b-0  css-bar-info pull-right"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="white-box m-b-0 bg-purple">
                        <h3 class="text-white box-title">Site visits <span class="pull-right"><i class="fa fa-caret-up"></i> 260</span></h3>
                        <div id="sparkline3dash"></div>
                    </div>
                    <div class="white-box">
                        <div class="row">
                            <div class="pull-left">
                                <div class="text-muted m-t-20">TOTAL visits</div>
                                <h2>26000</h2>
                            </div>
                            <div data-label="60%" class="css-bar css-bar-60 css-bar-lg m-b-0 css-bar-purple pull-right"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="white-box m-b-0 bg-inverse">
                        <h3 class="text-white box-title">Power consumption <span class="pull-right"><i class="fa fa-caret-up"></i> 260</span></h3>
                        <div id="sparkline4dash" class="text-center"></div>
                    </div>
                    <div class="white-box">
                        <div class="row">
                            <div class="pull-left">
                                <div class="text-muted m-t-20">TOTAL consumption</div>
                                <h2>61000</h2>
                            </div>
                            <div data-label="60%" class="css-bar css-bar-60 css-bar-lg m-b-0 css-bar-inverse pull-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box" id='containerBox' style="background-color: transparent">
                        <div id="imageBox" style="width: 90%;height: 100%;"></div>
                        <a data-toggle="modal" data-target="#responsive-modal2" class="map" >
                            <div id="area2"></div>
                        </a>
                        <a data-toggle="modal" data-target="#responsive-modal1" class="map" >
                            <div id="area1"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="responsive-modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">MFG Area 2 y 3</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="white-box">
                                    <h3 class="box-title">Robots</h3>
                                    <p class="text-muted">Ultima actualizacion <code>2 min</code></p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Supervisor</th>
                                                <th>Incidencias</th>
                                                <th>Estado</th>
                                                <th>Tiempo real</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>3</td>
                                                <td>Deshmukh</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10">
                                                        <div class="progress-bar progress-bar-danger active progress-bar-striped" style="width: 85%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-danger">OFF</span></td>
                                                <td style="text-align: center"><span class="label label-custom " style="background-color: lightgray;">Ver</span></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Sanghani</td>
                                                <td>
                                                <div class="progress progress-md margin-vertical-10 ">
                                                    <div class="progress-bar progress-bar-warning active progress-bar-striped" style="width: 35%"></div>
                                                </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-warning">Encendiendose...</span></td>
                                                <td style="text-align: center"><span class="label label-custom " style="background-color: lightgray;">Ver</span></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Roshan</td>
                                                <td>
                                                <div class="progress progress-md margin-vertical-10 ">
                                                    <div class="progress-bar progress-bar-success active progress-bar-striped" style="width: 15%"></div>
                                                </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-success">ON</span></td>
                                                <td style="text-align: center"><a href="{{ path('robot', {'robot': 3})}}"><span class="label label-info" >Ver</span></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="responsive-modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">MFG Area 1</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="white-box">
                                    <h3 class="box-title">Robots</h3>
                                    <p class="text-muted">Ultima actualizacion <code>1 min</code></p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Supervisor</th>
                                                <th>Incidencias</th>
                                                <th>Estado</th>
                                                <th>Tiempo real</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Silvia</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10 ">
                                                        <div class="progress-bar progress-bar-success active progress-bar-striped" style="width: 19%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-success">ON</span></td>
                                                <td style="text-align: center"><a href="{{ path('robot', {'robot': 3})}}"><span class="label label-info" >Ver</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Angela</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10 ">
                                                        <div class="progress-bar progress-bar-success active progress-bar-striped" style="width: 15%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-success">ON</span></td>
                                                <td style="text-align: center"><a href="{{ path('robot', {'robot': 3})}}"><span class="label label-info" >Ver</span></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.onload($(function () {
            $('#containerBox').width($(window).width() - 100).height($(window).height());
        }))
    </script>
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/map.js') }}"></script>

{% endblock %}