{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        a.map {
            color: white;
        }

        #containerBox {
            text-align: center;
        }

        #imageBox {
            background: url({{ asset('images/factory.svg') }}) no-repeat;
            vertical-align: middle;
            display: inline-block;
            background-position: center;
        }

        #area2 {
            position: absolute;
            width: 31%;
            height: 15%;
            bottom: 35%;
            right: 10%;
            cursor: pointer;
        }

        #area1 {
            position: absolute;
            width: 25%;
            height: 15%;
            bottom: 35%;
            left: 34%;
            cursor: pointer;
        }

        #area3 {
            position: absolute;
            width: 28%;
            height: 18%;
            bottom: 55%;
            left: 12%;
            cursor: pointer;
        }

        #robot1 {
            opacity: 0;
            position: absolute;
            width: 5%;
            height: 7%;
            bottom: 67%;
            left: 19.5%;
            background: -moz-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230, 222, 2, 1)), color-stop(76%, rgba(255, 0, 0, 0.02)), color-stop(77%, rgba(255, 0, 0, 0))); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ie10+ */
            background: radial-gradient(ellipse at center, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6DE02', endColorstr='#FF0000', GradientType=1); /* ie6-9 */
        }

        #robot2 {
            opacity: 0;
            position: absolute;
            width: 5%;
            height: 7%;
            bottom: 46%;
            left: 51%;
            background: -moz-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(0, 191, 2)), color-stop(76%, rgba(255, 0, 0, 0.02)), color-stop(77%, rgba(255, 0, 0, 0))); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ie10+ */
            background: radial-gradient(ellipse at center, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6DE02', endColorstr='#FF0000', GradientType=1); /* ie6-9 */
        }

        #robot3 {
            opacity: 0;
            position: absolute;
            width: 5%;
            height: 7%;
            bottom: 39%;
            left: 49.8%;
            background: -moz-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(0, 191, 2)), color-stop(76%, rgba(255, 0, 0, 0.02)), color-stop(77%, rgba(255, 0, 0, 0))); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ie10+ */
            background: radial-gradient(ellipse at center, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6DE02', endColorstr='#FF0000', GradientType=1); /* ie6-9 */
        }

        #robot4 {
            opacity: 0;
            position: absolute;
            width: 5%;
            height: 7%;
            bottom: 46%;
            right: 33%;
            background: -moz-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(76%, rgba(255, 0, 0, 0.02)), color-stop(77%, rgba(255, 0, 0, 0))); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ie10+ */
            background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FF0000', GradientType=1); /* ie6-9 */
        }

        #robot5 {
            opacity: 0;
            position: absolute;
            width: 5%;
            height: 7%;
            bottom: 39%;
            right: 31%;
            background: -moz-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230, 222, 2, 1)), color-stop(76%, rgba(255, 0, 0, 0.02)), color-stop(77%, rgba(255, 0, 0, 0))); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ie10+ */
            background: radial-gradient(ellipse at center, rgba(230, 222, 2, 1) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6DE02', endColorstr='#FF0000', GradientType=1); /* ie6-9 */
        }

        #robot6 {
            opacity: 0;
            position: absolute;
            width: 5%;
            height: 7%;
            bottom: 39%;
            right: 13.1%;
            background: -moz-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(0, 191, 2)), color-stop(76%, rgba(255, 0, 0, 0.02)), color-stop(77%, rgba(255, 0, 0, 0))); /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* ie10+ */
            background: radial-gradient(ellipse at center, rgb(0, 191, 2) 0%, rgba(255, 0, 0, 0.02) 76%, rgba(255, 0, 0, 0) 77%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6DE02', endColorstr='#FF0000', GradientType=1); /* ie6-9 */
        }

        .row.vdivide [class*='col-']:not(:last-child):after {
            background: #e0e0e0;
            width: 2px;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            min-height: 10px;
        }

    </style>
    <link href="{{ asset('css/sweetalert.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Planta de produccion</h4>
                </div>
            </div>
            <div class="white-box">
                <div class="row vdivide">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        Temperatura Ambiental
                        <span class="pull-right label-info label" style="font-size: 85%">19 ℃</span>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        Humedad
                        <span class="pull-right label-info label" style="font-size: 85%">49 %</span>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        Luminosidad
                        <span class="pull-right label-info label" style="font-size: 85%">600 lux</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box" id='containerBox' style="background-color: transparent">
                        {% for i in 1..6 %}
                            <div id="robot{{ i }}"></div>
                        {% endfor %}
                        <div id="imageBox" style="width: 90%;height: 100%;"></div>

                        {% for j in 1..3 %}
                            <a data-toggle="modal" data-target="#responsive-modal{{ j }}" class="map">
                                <div id="area{{ j }}"></div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- MODALS -->
            <div id="responsive-modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">MFG Area 1</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="white-box">
                                    <h3 class="box-title">Robots</h3>
                                    <p class="text-muted">Ultima actualizacion <code>1 min</code></p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Supervisor</th>
                                                <th>Incidencias</th>
                                                <th>Estado</th>
                                                <th>Tiempo real</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>2</td>
                                                <td>Silvia</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10 ">
                                                        <div class="progress-bar progress-bar-success active progress-bar-striped" style="width: 19%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-success">ON</span></td>
                                                <td style="text-align: center"><a href="{{ path('robot', {'robot': 2}) }}"><span class="label label-info">Ver</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>{{ app.user.username }}</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10 ">
                                                        <div class="progress-bar progress-bar-success active progress-bar-striped" style="width: 15%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-success" id="modalStatus">ON</span></td>
                                                <td style="text-align: center"><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="responsive-modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">MFG Area 2 y 3</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="white-box">
                                    <h3 class="box-title">Robots</h3>
                                    <p class="text-muted">Ultima actualizacion <code>2 min</code></p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Supervisor</th>
                                                <th>Incidencias</th>
                                                <th>Estado</th>
                                                <th>Tiempo real</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>4</td>
                                                <td>Deshmukh</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10">
                                                        <div class="progress-bar progress-bar-danger active progress-bar-striped" style="width: 85%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-danger">OFF</span></td>
                                                <td style="text-align: center"><span class="label label-custom " style="background-color: lightgray;">Ver</span></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Sanghani</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10 ">
                                                        <div class="progress-bar progress-bar-warning active progress-bar-striped" style="width: 35%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-warning">Encendiendose...</span></td>
                                                <td style="text-align: center"><span class="label label-custom " style="background-color: lightgray;">Ver</span></td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Roshan</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10 ">
                                                        <div class="progress-bar progress-bar-success active progress-bar-striped" style="width: 15%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-success">ON</span></td>
                                                <td style="text-align: center"><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="responsive-modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Entrada</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="white-box">
                                    <h3 class="box-title">Robots</h3>
                                    <p class="text-muted">Ultima actualizacion <code>1 min</code></p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Supervisor</th>
                                                <th>Incidencias</th>
                                                <th>Estado</th>
                                                <th>Tiempo real</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Maria</td>
                                                <td>
                                                    <div class="progress progress-md margin-vertical-10 ">
                                                        <div class="progress-bar progress-bar-warning active progress-bar-striped" style="width: 19%"></div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center"><span class="label label-warning">Encendiendose</span></td>
                                                <td style="text-align: center"><a href="{{ path('robot', {'robot': 6}) }}"><span class="label label-info">Ver</span></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/flot/excanvas.min.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.crosshair.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('js/cbpFWTabs.js') }}"></script>
    <script>
        $('#containerBox').width($(window).width() - 100).height($(window).height());
        (function () {
            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });

        })();
    </script>
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/custom/map.js') }}"></script>

{% endblock %}