{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('vr/TemplateData/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('vr/TemplateData/style.css') }}">
{% endblock %}


{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="white-box">
                <section>
                    <div class="sttabs tabs-style-line">
                        <nav>
                            <ul>
                                <li><a href="#general_data"><span>Informacion General</span></a></li>
                                <li><a href="#vr"><span>Experiencia Virtual</span></a></li>
                            </ul>
                        </nav>
                        <div class="content-wrap">
                            <section id="general_data">
                                <div class="panel panel-default">
                                    <!-- ROW TEXT INFO-->
                                    <div class="panel-heading">Información General del robot</div>
                                    <div class="row" style="margin-top: 30px">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="white-box-shadow text-center bg-success">
                                                <h1 class="text-white counter">Encendido</h1>
                                                <p class="text-white">Estado del robot</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="white-box-shadow text-center bg-danger">
                                                <h1 class="text-white counter">5.2.0.61336</h1>
                                                <p class="text-white">Versión Software</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="white-box-shadow text-center bg-info">
                                                <h1 class="text-white counter">Robot UR3</h1>
                                                <p class="text-white">Versión</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="white-box-shadow text-center bg-warning">
                                                <h1 class="text-white counter">20185300040</h1>
                                                <p class="text-white">Numero de Serie</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel panel-default">
                                    <!-- ROW PRODUCTION INFO-->
                                    <div class="panel-heading">Producción</div>
                                    <div class="row" style="margin-top: 30px">
                                        <div class="col-md-3 col-xs-12 col-sm-6">
                                            <div class="white-box-shadow m-b-0 bg-danger">
                                                <h3 class="text-white box-title">Funcionamiento<span class="pull-right"><i
                                                                class="fa fa-caret-up"></i> 260</span></h3>
                                                <div id="sparkline4dash">
                                                    <canvas style="display: inline-block; width: 286px; height: 70px; vertical-align: top;"
                                                            width="286" height="70"></canvas>
                                                </div>
                                            </div>
                                            <div class="white-box-shadow">
                                                <div class="row">
                                                    <div class="pull-left">
                                                        <div class="text-muted m-t-20">Med. Funcionamiento</div>
                                                        <h2>210s</h2>
                                                    </div>
                                                    <div data-label="60%"
                                                         class="css-bar css-bar-60 css-bar-lg m-b-0 css-bar-danger pull-right"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12 col-sm-6">
                                            <div class="white-box-shadow m-b-0 bg-info">
                                                <h3 class="text-white box-title">Paradas<span class="pull-right"><i
                                                                class="fa fa-caret-down"></i> 2</span></h3>
                                                <div id="sparkline1dash" class="text-center">
                                                    <canvas style="display: inline-block; width: 215px; height: 70px; vertical-align: top;"
                                                            width="215" height="70"></canvas>
                                                </div>
                                            </div>
                                            <div class="white-box-shadow">
                                                <div class="row">
                                                    <div class="pull-left">
                                                        <div class="text-muted m-t-20">Med. Parada dia</div>
                                                        <h2>4</h2>
                                                    </div>
                                                    <div data-label="60%"
                                                         class="css-bar css-bar-60 css-bar-lg m-b-0  css-bar-info pull-right"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12 col-sm-6">
                                            <div class="white-box-shadow m-b-0 bg-purple">
                                                <h3 class="text-white box-title">Temperatura Ambiente<span
                                                            class="pull-right"><i
                                                                class="fa fa-caret-up"></i> 5</span></h3>
                                                <div id="sparkline2dash">
                                                    <canvas style="display: inline-block; width: 286px; height: 70px; vertical-align: top;"
                                                            width="286" height="70"></canvas>
                                                </div>
                                            </div>
                                            <div class="white-box-shadow">
                                                <div class="row">
                                                    <div class="pull-left">
                                                        <div class="text-muted m-t-20">Med. Temperatura</div>
                                                        <h2>34 grados</h2>
                                                    </div>
                                                    <div data-label="60%"
                                                         class="css-bar css-bar-60 css-bar-lg m-b-0 css-bar-purple pull-right"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12 col-sm-6">
                                            <div class="white-box-shadow m-b-0 bg-inverse">
                                                <h3 class="text-white box-title">Consumo de Energía<span
                                                            class="pull-right"><i
                                                                class="fa fa-caret-down"></i>7</span></h3>
                                                <div id="sparkline3dash" class="text-center">
                                                    <canvas style="display: inline-block; width: 215px; height: 70px; vertical-align: top;"
                                                            width="215" height="70"></canvas>
                                                </div>
                                            </div>
                                            <div class="white-box-shadow">
                                                <div class="row">
                                                    <div class="pull-left">
                                                        <div class="text-muted m-t-20">Med. consumo</div>
                                                        <h2>58.45W</h2>
                                                    </div>
                                                    <div data-label="60%"
                                                         class="css-bar css-bar-60 css-bar-lg m-b-0 css-bar-inverse pull-right"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <!-- JOINT TABS-->
                                    <div class="panel-heading">Informacion por cada eje</div>
                                    <p class="text-muted m-b-30">La siguiente informacion se acutaliza cada <code>10
                                            s</code></p>
                                    <div class="vtabs">
                                        <ul class="nav tabs-vertical" id="jointTabs">
                                            <li class="tab active">
                                                <a data-toggle="tab" href="#joint1" aria-expanded="true"> <span
                                                            class="visible-xs"><i class="ti-home"></i></span> <span
                                                            class="hidden-xs">Base</span> </a>
                                            </li>
                                            <li class="tab">
                                                <a data-toggle="tab" href="#joint2" aria-expanded="false"> <span
                                                            class="visible-xs"><i
                                                                class="ti-user"></i></span> <span
                                                            class="hidden-xs">Hombro</span>
                                                </a>
                                            </li>
                                            <li class="tab">
                                                <a aria-expanded="false" data-toggle="tab" href="#joint3"> <span
                                                            class="visible-xs"><i
                                                                class="ti-email"></i></span> <span
                                                            class="hidden-xs">Codo</span>
                                                </a>
                                            </li>
                                            <li class="tab">
                                                <a aria-expanded="false" data-toggle="tab" href="#joint4"> <span
                                                            class="visible-xs"><i
                                                                class="ti-email"></i></span> <span
                                                            class="hidden-xs">Muneca 1</span>
                                                </a>
                                            </li>
                                            <li class="tab">
                                                <a aria-expanded="false" data-toggle="tab" href="#joint5"> <span
                                                            class="visible-xs"><i
                                                                class="ti-email"></i></span> <span
                                                            class="hidden-xs">Muneca 2</span>
                                                </a>
                                            </li>
                                            <li class="tab">
                                                <a aria-expanded="false" data-toggle="tab" href="#joint6"> <span
                                                            class="visible-xs"><i
                                                                class="ti-email"></i></span> <span
                                                            class="hidden-xs">Muneca 3</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" style="width: 92%;">
                                            {% set chart = 0 %}
                                            {% for i in 0..6 %}
                                                <div role="tabpanel" class="tab-pane
                                                 {% if i == 0 %}
                                                    active
                                                  {% endif %}
                                                 " id="joint{{ i }}">
                                                    <!-- ROW CHARTS -->
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6 col-xs-12">
                                                            <div class="white-box">
                                                                <h3 class="box-title">Temperature</h3>
                                                                <div class="demo-container" style="height:400px;">
                                                                    <div id="flot-line-chart-moving{{ chart }}"
                                                                         class="demo-placeholder"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% set chart = chart + 1 %}
                                                        <div class="col-md-6 col-lg-6 col-xs-12">
                                                            <div class="white-box">
                                                                <h3 class="box-title">Current Voltage</h3>
                                                                <div class="demo-container" style="height:400px;">
                                                                    <div id="flot-line-chart-moving{{ chart }}"
                                                                         class="demo-placeholder"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% set chart = chart + 1 %}
                                                    </div>
                                                    <!-- ROW EXTRA -->
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                                            <div class="white-box-shadow bg-theme">
                                                                <h3 class="box-title text-white">RPM</h3>
                                                                <ul class="list-inline two-part">
                                                                    <li>
                                                                        <i class="icon-arrow-right-circle text-white"></i>
                                                                    </li>
                                                                    <li class="text-right text-white"><span
                                                                                class="counter">10</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                                            <div class="white-box-shadow bg-theme-dark">
                                                                <h3 class="box-title text-white">Velocity</h3>
                                                                <ul class="list-inline two-part">
                                                                    <li><i class="icon-settings text-white"></i></li>
                                                                    <li class="text-right text-white"><span
                                                                                class="counter">31</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                                            <div class="white-box-shadow bg-info">
                                                                <h3 class="box-title text-white">Angle</h3>
                                                                <ul class="list-inline two-part">
                                                                    <li><i class="icon-reload text-white"></i></li>
                                                                    <li class="text-right text-white"><span
                                                                                class="counter">68</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="vr">
                                <div class="white-box" style="height: 950px;">
                                    <div class="webgl-content">
                                        <div id="gameContainer" style="width: 1160px; height: 800px"></div>
                                        <div class="footer">
                                            <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- /content -->
                    </div>
                    <!-- /tabs -->
                </section>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/flot/excanvas.min.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.crosshair.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('js/cbpFWTabs.js') }}"></script>
    <!--<script src="{{ asset('vr/TemplateData/UnityProgress.js') }}"></script>
    <script src="{{ asset('vr/Build/UnityLoader.js') }}"></script>-->
    <script>
        (function () {

            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });

        })();
        //var gameInstance = UnityLoader.instantiate("gameContainer", "{{ asset('vr/Build/try2.json') }}", {onProgress: UnityProgress});
    </script>
    <script src="{{ asset('js/custom/realtime.js') }}"></script>
{% endblock %}