{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Información de los robots</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- ROW TEXT INFO-->
            <div class="white-box">
                <h3 class="box-title">Lista de robots</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ID Robot</th>
                            <th>Supervisor</th>
                            <th>Area Trabajo</th>
                            <th>Mas Información</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>WG758</td>
                            <td>Maria</td>
                            <td><span class="label label-danger">Entrada</span></td>
                            <td><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>KD104</td>
                            <td>Silvia</td>
                            <td><span class="label label-info">MFG2</span></td>
                            <td><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>PD42O</td>
                            <td>Deshmukh</td>
                            <td><span class="label label-warning">MFG3</span></td>
                            <td><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>LF573</td>
                            <td>Sanghani</td>
                            <td><span class="label label-success">MFG1</span></td>
                            <td><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>OE759</td>
                            <td>Angela</td>
                            <td><span class="label label-info">MFG2</span></td>
                            <td><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>ND850</td>
                            <td>Roshan</td>
                            <td><span class="label label-success">MFG1</span></td>
                            <td><a href="{{ path('robot', {'robot': 3}) }}"><span class="label label-info">Ver</span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}

{% block scripts %}{% endblock %}